.column-derecha {
    max-width: 500px !important;
}

.map-container {
    position: absolute;
    top: 0;
    left: 500px;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.mi-editando {
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.example-headers-align .mat-expansion-panel-header-description .mi-editando {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}