<div class="column-derecha">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Registrar
                </mat-panel-title>
                <mat-panel-description>
                    Registre una coordenada
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
                <mat-label>Longitud</mat-label>
                <input matInput type="number" [(ngModel)]="mapa.longitud">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Latitud</mat-label>
                <input matInput type="number" [(ngModel)]="mapa.latitud">
            </mat-form-field>
            <mat-action-row>
                <button mat-button color="primary" (click)="guardarMapa()">Registrar</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Registros
                </mat-panel-title>
                <mat-panel-description>
                    Coordenadas registradas
                    <mat-icon>map</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
                <mat-list-item *ngFor="let message of mapas">
                    <h3 matListItemTitle>Registro No. {{message.id}}</h3>
                    <p matListItemLine>{{message.latitud}}</p>
                    <p matListItemLine class="demo-2">{{message.longitud}}</p>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="borrarMapa(message.id)"> Borrar </button>
                        <button mat-button color="primary" (click)="seleccionarMapa(message.id)"> Seleccionar </button>
                    </mat-action-row>

                </mat-list-item>
            </mat-list>

        </mat-expansion-panel>



    </mat-accordion>

    <div class="mi-editando">
        <mat-label>Latitud </mat-label>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="mapaseleccionado.latitud" />
        </mat-form-field>
        <p></p>
        <mat-label>Longitud </mat-label>
        <mat-form-field>
            <input matInput type="number" [(ngModel)]="mapaseleccionado.longitud" />
        </mat-form-field>
        <p>
            <button mat-button color="warn" (click)="editarMapa()"> MODIFICAR </button>
        </p>
    </div>
</div>


<div class="column">
    <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>