<h3>listas de coordenadas guardadass</h3>
<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>registro</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let punto of puntos">
            <td scope="row">{{punto.id}}</td>
            <td>{{punto.latitud}}</td>
            <td>{{punto.longitud}}</td>
            <td><button class='btn btn-default' color="warn" title="borrar" (click)="borrarMapa(punto)"> 
                <fa-icon [icon]="faTrash"></fa-icon> </button>
            </td>
        </tr>

    </tbody>
</table>